/* ----------------------------- */
/* A változók beállítása         */
/* ----------------------------- */
:root {
  --color-red: rgba(180, 0, 0, 1);
  --color-black: rgba(11, 11, 11, 0.8);
}

/* ----------------------------- */
/* Általános stílus beállítások  */
/* ----------------------------- */
.box-shadow-red {
  box-shadow: 0 0 3px 1px var(--color-red);
}
.text-shadow-red {
  text-shadow: 0 0 2px var(--color-red);
}

/* ----------------------------- */
/* RESET beállítások             */
/* ----------------------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  text-decoration: none;
  list-style: none;
}

/* ----------------------------- */
/* BODY stílus beállítások       */
/* ----------------------------- */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  color: var(--color-red);
  background: url(../resources/roman_bg.jpg);
  background-position: center;
  background-size: cover;
}

/* ----------------------------- */
/* Speciális stílus beállítások  */
/* ----------------------------- */
h1 {
  text-align: center;
  font-size: 3.3rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: clamp(300px, 60vw, 750px);
  padding: 1rem;
  border: 3px solid var(--color-red);
  border-radius: 8px;
  backdrop-filter: blur(2px);
  & legend {
    font-size: 1.5rem;
    text-shadow: 0 0 3px var(--color-black);
    color: var(--color-black);
    background-color: var(--color-red);
    padding: 0.3rem 1rem;
    border-radius: 8px;
  }
  & label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5rem;
    text-shadow: 0 0 3px var(--color-red);
    color: var(--color-red);
  }
}
input {
  font-size: 1.2rem;
  width: clamp(10rem, 60%, 25rem);
  padding: 0.3rem 1rem;
  border-radius: 8px;
  background: transparent;
  color: var(--color-red);
  border: 2px solid var(--color-red);
  outline: 0;
  &::placeholder {
    color: var(--color-red);
    font-size: 1.1rem;
  }
  &:focus {
    color: var(--color-black);
    text-shadow: 0 0 2px var(--color-black);
    border: 2px solid var(--color-black);
    box-shadow: 0 0 3px 1px var(--color-black);
    &::placeholder {
      color: var(--color-black);
    }
  }
  &.long {
    width: 100%;
  }
}
button {
  font-size: 1.2rem;
  width: 100%;
  padding: 0.3rem 1rem;
  margin: auto;
  border-radius: 8px;
  background: transparent;
  color: var(--color-red);
  border: 2px solid var(--color-red);
  outline: 0;
  transition: all 0.5s;
  &:hover,
  &:focus {
    color: var(--color-black);
    text-shadow: 0 0 2px var(--color-black);
    border: 2px solid var(--color-black);
    box-shadow: 0 0 3px 1px var(--color-black);
  }
}
